<!DOCTYPE html>
<html lang="en">
<head>
  <title>FLACK</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/styles.css">  <!---"{{url_for('static', filename = 'styles.css')}}"> -->
</head>
<body>
  <div class="container-fluid up">
    <div class="row header my-auto" style="margin-bottom:0">
      <h3><small>&lt!---FLACK--&gt</small></h3>
    </div>
  </div>
  <div class="container-fluid middle">
    <div class="row center">
      <div class="col-sm-2 borderline">
        <!---{% block left %}
        {% endblock %}-->

      </div>
      <div class="col-sm-10">
        <!---{% block right %}
        {% endblock %}-->

      </div>
    </div>
  </div>
    <div class="container-fluid down">
      <div class="row footer">
        <h6 class="small">Designed by dmitrichd@gmail.com</h6>
      </div>
    </div>
</body>
</html>
